<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Les
                <strong>Personnages</strong>
            </h2>
            <hr>
            <!--<hero-search></hero-search>-->
        </div>
        <div class="grid grid-pad">
          <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
            <div class="module hero">
              <h4>{{hero.name}}</h4>
            </div>
          </a>
        </div>
    </div>
</div>
